

/* let's have all anchors have background color yellow */
a {
    background-color: rgb(141, 177, 152);
}

/* let's change all fonts to sans-serif */
body {
    font-family: Arial, Helvetica, sans-serif;
    /* so above rule says: if Arial is not available, use Helvetica,
       if neither is available, use any sans-serif font */
    /* let's have whole page a nice light blue background color */
    background-color: rgb(151, 176, 157);
}

/* using # we can select an element by its id */
#what-is-css {
    color: rgb(84, 11, 103);
    background-color: lightgray;
    border: 2px solid black;
    padding: 10px;
    /* margin adds space outside the border */
    margin: 20px;
}   

/* let's apply some background color to all class "using-example" 
"using-example" is just a random name I came up with
*/
/* let's round the corner a bit */
.using-example {
    background-color: lightgreen;
    padding: 5px;
    border: 1px solid green;
    border-radius: 5px;
}

/* let's style our nav links in the footer */
#footer_id nav a {
    color: darkred;
    text-decoration: none; /* removes the underline */
    font-weight: bold;
    margin: 0 10px; /* adds space left and right of each link */
    /* a bit of round corners */
    border: 1px solid darkred;
    border-radius: 5px;
    padding: 2px 5px; /* adds space inside the border */
}

/* now let's do something similar to the header */
#header_id {
    background-color: lightgray;
    border-bottom: 2px solid black;
    padding: 10px;
    margin-bottom: 20px;
}

/* we want header nav anchor to look similar but not exactly the same */
#header_id nav a {
    color: darkblue;
    text-decoration: none; /* removes the underline */
    font-weight: bold;
    margin: 0 10px; /* adds space left and right of each link */
    /* a bit of round corners */
    border: 1px solid darkblue;
    border-radius: 5px;
    padding: 2px 5px; /* adds space inside the border */
}

/* let's style the conclusion paragraph a bit */
#conclusion_p {
    font-style: italic;
    background-color: lightyellow;
    border: 1px solid orange;
    padding: 10px;
    border-radius: 5px;
    /* line spacing */
    line-height: 2.5;
    /* let's center the text */
    text-align: center;
}