html {
    /* these are some basic styles for the entire document */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(240, 191, 191);
    color: black;
    padding: 20px;
}

/* let's apply 3px thick border to container class */
.container {
    border: 3px solid rgb(51, 123, 15);
    /* we add a little bit of padding to INSIDE of our container */
    padding: 5px;
    /* let's make our container flexbox container */
    /* we also want the children to wrap to next line if they don't fit */
    display: flex;
    flex-wrap: wrap;
    /* align items to the right */
    /* justify-content: flex-end;  */
    /* center items */
    justify-content: center;
    /* then we could use align-items to align items vertically */
    align-items: center; 
    /* so we centered items both horizontally and vertically */
}

/* we can make the children also flex containers */
/* so that we can center the text inside the box */

.box {
    border: 2px solid rgb(198, 18, 18);
    /* round the corners */
    border-radius: 5px;
    padding: 10px;
    margin: 10px 10px;
    width: 50px;
    height: 50px;
    /* for centering text inside the box */
    /* this is NOT required but it looks better */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* order of media queries matters! */
/* more specific queries should come after less specific ones */
/* if we are using max-width, the smallest width should come last */
/* @media (max-width: 768px) {
    body {
        background-color: orange;
    }   
}


@media (max-width: 600px) {
    body {
        background-color: lightblue;
    }   
} */

/* instead of max-width let's use min-width this is mobile first approach 
where we keep the base styles for mobile and add styles for larger screens */
@media (min-width: 600px) {
    /* so these rules will apply to ALL screens larger than 600px */
    /* unless overridden by a more specific media query */
    body {
        background-color: lightblue;
        font-size: 1.2em; /* increase font size for better readability */
        /* em is relative to the parent element font size */
        /* default font size is 16px so 1.2em is 19.2px */
    }   
    h2 {
        background-color: yellow;
    }   
}

/* as we go to larger screens we can change also font size */
@media (min-width: 768px) {
    body {
        background-color: orange;
        font-size: 1.5em; /* increase font size for better readability */
        /* 1.5em is 24px */
    }   
}

/* we can keep adding more media queries for larger screens */
/* https://en.wikipedia.org/wiki/List_of_common_display_resolutions */