body {
    font-family: 'AvantGarde', 'Arial', sans-serif;
    font-size: 2em;
    text-align: justify;
    background-color: rgb(12, 63, 24);
    margin: 20px;
    display: grid;
    grid-gap: 20px;

    grid-template-areas:
    "header"
    "hero"
    "focus"
    "footer";
}

/* Header */
header {
    display: grid;
    width: 100%;
    grid-area: header;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    grid-template-areas:
        "brand brand"
        "glob-nav tools";
}

header .brand {
    grid-area: brand;
    justify-self: center;
}

header .glob-nav {
    grid-area: glob-nav;
    justify-self: center;
}

header .tools {
    grid-area: tools;
    justify-self: center;
}

/* Hero */
.hero {
    display: grid;
    grid-area: hero;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    grid-template-areas:
        "hero-feature"
        "hero-action";
}

.hero .hero-feature {
    grid-area: hero-feature;
    padding: 20px;
}

.hero .hero-action {
    grid-area: hero-action;
    padding: 20px;
}

/* Body - main focus */
.focus {
    display: grid;
    grid-area: focus;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    grid-template-areas: 
        "article-feature"
        "mobile-ad"
        "article-listing";
}

.focus .article-feature {
    grid-area: article-feature;
    padding: 20px;
}

.focus .mobile-ad {
    grid-area: mobile-ad;
    padding: 20px;
}

.focus .article-listing {
    grid-area: article-listing;
    padding: 20px;
}

/* Footer */
footer {
    display: grid;
    grid-area: footer;
    width: 100%;
}

/* Desktop ad */
.desktop-ad {
    grid-area: desktop-ad;
}

/* Sidebar */
.sidebar {
    grid-area: sidebar;
}

/* Hide non-mobile features */
.hero-feature, .desktop-ad, .sidebar {
    display: none;
}

/* Tablet layout */
@media (min-width: 576px) {

}

/* Desktop layout */
@media (min-width: 992px) {

}